@page "/AgendamentoConfirmacao"

<main>
        <div class="background-confirmacao">
            <div class="text-confirmacao">
                <ul>
                    <li>
                        <p>
                            Serviço agendado! 🐶
                        </p>

                        <p>
                            Seu agendamento foi realizado com sucesso. Estamos ansiosos para cuidar do seu pet!
                        </p>

                    </li>
                </ul>
            </div>


            <div class="detalhes-agendamento">
                <ul>
                    <li>
                        <p>
                            Serviço
                        </p>
                        <p>
                            Animal: Rex
                        </p>
                        <p>
                            Data e hora: 11/02/2026, 22:22:00
                        </p>
                        <p>
                            Forma de pagamento: PIX
                        </p>
                        <p>
                            Status: Pendente
                        </p>
                        <p>
                            Cadastrado em: 26/03/2026, 23:26:02
                        </p>
                    </li>
                    <li class="valor">
                        <p>

                        </p>
                    </li>
                </ul>
            </div>

            <hr>
            <div class="info-extra">
                <ul>
                    <li>
                        <p>
                            Chegue com 10 minutos de antecedência.
                            Caso precise remarcar, entre em contato conosco.
                        </p>
                        <p>
                            Seu pet será tratado com todo carinho e cuidado ❤️
                        </p>
                    </li>
                </ul>
            </div>
            <!-- <hr> -->


            <div class="btn-agendamento">
                <Button class="btn-agendar">
                    Agendar novo serviço
                </Button>
                <Button class="btn-voltar">
                    Voltar ao Início
                </Button>
            </div>
        </div>
    </main>

@code {

}
