main {
    min-height: 100vh;
    background: var(--clr-primary-soft-one);
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-top: 5em;
    padding-bottom: 4em;
    margin: 0 1em;
    /* seta para voltar */
    .header-page {
        p {
            display: flex;
            align-items: center;
            gap: 0.5em;
            color: var(--clr-black-gray);

            span {
                background: var(--clr-white);
                padding: 0.4em;
                border-radius: 50%;
                box-shadow: var(--shadow-soft);
            }
        }
    }

    .card-form {
        background: var(--clr-white);
        border-radius: 1.5em;
        padding: 1.2em;
        box-shadow: var(--shadow-soft);
        display: flex;
        flex-direction: column;
        gap: 1.2em;

        .title {
            color: var(--clr-black-gray);
            font-weight: var(--fw-sub);
            padding-bottom: 0.5em !important;
        }

        .field {
            ul {
                li {
                    display: flex;
                    flex-direction: column;
                    gap: 0.4em;

                    label {
                        color: var(--clr-text-muted);
                    }

                    

                    .field-info {
                        margin-top: 1em !important;
                        color: var(--clr-text-muted);
                    }
                }
            }
        }

        .btn-secondary {
            width: 100%;
            background: var(--clr-primary-transparent);
            color: var(--clr-primary-dark);
            border: none;
            padding: 0.9em;
            border-radius: 2em;
        }

        .actions {
            margin-top: 0.5em;

            .btn-primary {
                width: 100%;
                background: var(--clr-primary);
                color: var(--clr-white);
                border: none;
                padding: 0.9em;
                border-radius: 2em;
            }
        }
    }
}
