@page "/animalCadastrado"

<main>
    <div class="btn-novo-animal">
        <p>Cadastre um novo animal</p>
        <button>Cadastrar animal</button>
    </div>]

    <div class="menu-card">

        <div class="info">
            <img src="./img/grooming-dog.jpg" alt="Animal">
            <ul>
                <li>
                    <p>Rex</p>
                    <p>Cachorro</p>
                    <p>5 anos</p>
                </li>
            </ul>


        </div>
        <button>Ver detalhes</button>
    </div>
</main>

@code {

}
