@page "/Auth"

<main>
    <div id="container-initial">
        <div class="container-logo">
            <img src="./img/bg-auth-logo.png" alt="Patinhas Mágicas" />
        </div>
        <div id="container">
            <div class="container-title">
                <ul>
                    <li>
                        <p>Bem-vindos ao</p>
                        <p>Patinhas Mágicas</p>
                    </li>
                </ul>
            </div>

            <div class="container-sub-title">
                <ul>
                    <li>
                        <p>Cuidando do seu pet com carinho, qualidade e confiança.</p>
                    </li>
                </ul>
            </div>

            <div class="button-initial">

                @* sem onclick para não dar erro *@
                <button>Login</button>
                <button>Cadastrar</button>
            </div>
        </div>
    </div>
</main>