@page "/"
@page "/auth"
@layout NoMenuLayout
@inject NavigationManager Navigation
@inject TokenStorageService TokenStorageService

<main class="login-page">
    <div id="container-initial">
        <div class="container-logo">
            <img src="./img/bg-auth-logo.png" alt="Patinhas Magicas" />
        </div>
        <div id="container">
            <div class="container-title">
                <ul>
                    <li>
                        <p>Bem-vindos ao</p>
                        <p>Patinhas Magicas</p>
                    </li>
                </ul>
            </div>

            <div class="container-sub-title">
                <ul>
                    <li>
                        <p>Cuidando do seu pet com carinho, qualidade e confianca.</p>
                    </li>
                </ul>
            </div>

            <div class="button-initial">
                <button type="button" @onclick="IrParaLogin">Login</button>
                <button type="button" @onclick="IrParaCadastro">Cadastrar</button>
            </div>
        </div>
    </div>
</main>

@code {
    protected override async Task OnInitializedAsync()
    {
        var token = await TokenStorageService.GetToken();
        if (!string.IsNullOrWhiteSpace(token))
        {
            Navigation.NavigateTo("/home");
        }
    }

    private void IrParaLogin()
    {
        Navigation.NavigateTo("/Login");
    }

    private void IrParaCadastro()
    {
        Navigation.NavigateTo("/Cadastro");
    }
}
