@page "/CadastroAnimal"
@inject NavigationManager Navigation

<main>
    <form class="card-form">
        <ul>
            <li>
                <p class="title">Cadastro de Animal</p>
            </li>
        </ul>


        <div class="field">
            <ul>
                <li>
                    <p class="label">Nome *</p>
                    <input type="text"
                           class="input-real"
                           placeholder="Digite o nome do animal"
                           required />
                </li>
            </ul>
        </div>


        <div class="field">
            <ul>
                <li>
                    <p class="label">Espécie *</p>
                    <select class="input-select" required>
                        @if (especies.Count == 0)
                        {
                            <option disabled>Não há opções de espécies disponíveis</option>
                        }
                        else
                        {
                            @foreach (var especie in especies)
                            {
                                <option value="@especie.Id">@especie.Nome</option>
                            }
                        }
                    </select>
                </li>
            </ul>
        </div>


        <div class="field">
            <ul>
                <li>
                    <p class="label">Raça</p>
                    <input type="text"
                           class="input-real"
                           placeholder="Ex: Poodle, Siamês..." />
                </li>
            </ul>
        </div>


        <div class="field">
            <ul>
                <li>
                    <p class="label">Idade</p>
                    <input type="number" class="input-real" placeholder="0" min="0" />
                </li>
            </ul>
        </div>


        <div class="field">
            <ul>
                <li>
                    <p class="label">Tamanho *</p>
                    <select class="input-select" required>
                        @if (tamanhoAimals.Count == 0)
                        {
                            <option disabled>Não há opções de tamanho disponíveis</option>
                        }
                        else
                        {
                            @foreach (var tamanho in tamanhoAimals)
                            {
                                <option value="@tamanho.Id">@tamanho.Nome</option>
                            }
                        }
                    </select>
                </li>
            </ul>
        </div>


        <div class="actions">
            <button type="button" class="cancel">Cancelar cadastro</button>

            <button type="submit" class="btn-primary">Cadastrar Animal</button>
        </div>
    </form>
</main>


@code {
    List<TamanhoAnimalDTO> tamanhoAimals = new();
    List<EspecieOutputDTO> especies = new();


    private void Voltar()
    {
        Navigation.NavigateTo("/home");
    }

}
