@page "/Cadastro"
@layout NoMenuLayout
@inject NavigationManager Navigation
@inject UsuarioService UsuarioService

<main class="login-page">
    <div id="container-title-logo">
        <ul>
            <li>
                <p>Cadastro</p>
            </li>
        </ul>
        <img src="./img/logo.png" alt="Patinhas Magicas" />
    </div>

    <div id="cont-form">
        <form>
            <ul>
                <li>
                    <p>Nome</p>
                    <input type="text"
                           @bind="usuario.Nome"
                           name="nome"
                           placeholder="Digite seu nome"
                           required />
                </li>

                <li>
                    <p>CPF</p>
                    <input type="text"
                           @bind="usuario.CPF"
                           name="cpf"
                           placeholder="Digite CPF"
                           required />
                </li>

                @* <li>
                    <p>Data de nascimento</p>
                    <input type="date"                         
                           @bind="usuario.da"
                           name="dataNascimento" 
                           required />
                </li> *@

                <li>
                    <p>Email</p>
                    <input type="email"
                           @bind="usuario.Email"
                           name="email"
                           placeholder="Digite seu email"
                           required />
                </li>

                
                <li>
                    <p>DDD</p>
                    <input type="text"
                           @bind="usuario.Ddd"
                           name="text"
                           placeholder="Digite seu email"
                           required />
                </li>
                
                <li>
                    <p>Telefone</p>
                    <input type="text"
                           @bind="usuario.Telefone"
                           name="telefone"
                           placeholder="Digite seu telefone"
                           required />
                </li>

                <li>
                    <p>Senha</p>
                    <input type="password"
                           @bind="usuario.Senha"
                           name="senha"
                           placeholder="Digite sua senha"
                           required />
                </li>

                <li>
                    <p>Confirme sua senha</p>
                    <input type="password"
                           name="confirmarSenha"
                           placeholder="Digite novamente"
                           required />
                </li>
            </ul>

            <div class="btn-cadastrar">
                <button type="submit">Cadastrar</button>
                <button type="button" @onclick="VoltarParaAuth">Cancelar</button>
            </div>
        </form>
    </div>
</main>

@code {

    UsuarioDTO usuario = new();
    private void VoltarParaAuth()
    {
        Navigation.NavigateTo("/");
    }

    async Task Cadastrar()
    {
        var result = await UsuarioService.Cadastrar(usuario);
        

        if (result)
        {
        }
    }
}
