@page "/home"

<PageTitle>Home</PageTitle>

<button @onclick="FazerLogin">Login</button>
<button @onclick="Cadastrar">Cadastresse</button>

@code {

    async Task FazerLogin()
    {
        // chamar sua API aqui
    }

    async Task Cadastrar()
    {
        // chamar sua API aqui
    }
}