@page "/listanimal"
@inject AnimalService AnimalService

<h3>ListAnimal</h3>

@code {

    List<AnimalDTO> animals = new();
    
    protected override async Task OnInitializedAsync()
    {
        animals = await AnimalService.GetAllAnimalsAsync();
    }

}
