@page "/ListAgendamentos"
@inject AgendamentoService AgendamentoService

<h3>Lista de Agendamentos</h3>

@if (agendamentos.Count == 0)
{
    <p>Nenhum produto encontrado.</p>
}
else
{
    <ul>
        @foreach (var produto in agendamentos)
        {
            <li>
                <strong>@produto.DataAgendamento</strong><br />
                Marca: @produto.Status<br />
            </li>
        }
    </ul>
}

@code {
    List<AgendamentoDTO> agendamentos = new();

    protected override async Task OnInitializedAsync()
    {
        agendamentos = await AgendamentoService.GetAll() ?? new List<AgendamentoDTO>();
    }
}
