@page "/ListProdutos"
@inject ProdutoService ProdutoService

<h3>Lista de Produtos</h3>

@if (produtos.Count == 0)
{
    <p>Nenhum produto encontrado.</p>
}
else
{
    <ul>
        @foreach (var produto in produtos)
        {
            <li>
                <strong>@produto.Nome</strong><br />
                Marca: @produto.Marca<br />
                Preco: @(produto.Preco?.ToString("C") ?? "Nao informado")
            </li>
        }
    </ul>
}

@code {
    List<ProdutoDTO> produtos = new();

    protected override async Task OnInitializedAsync()
    {
        produtos = await ProdutoService.GetAll() ?? new List<ProdutoDTO>();
    }
}
