@page "/Login"

<h3>Login</h3>

<input @bind="email" placeholder="Email" />
<input type="password" @bind="senha" placeholder="Senha" />

<button @onclick="FazerLogin">Entrar</button>

@code {
    string email;
    string senha;

    async Task FazerLogin()
    {
        // chamar sua API aqui
    }
}