@page "/Login"
@using PatinhasMagicasPWA.DTOs
@using PatinhasMagicasPWA.Services
@inject AuthService AuthService

<main>
    <div id="container-logo">
        <img src="./img/logo.png" alt="Patinhas Mágicas" />
    </div>

    <!-- frase login -->
    <div id="container-frase-login">
        <ul>
            <li>
                <p>Tudo para seu</p>
                <p>Melhor amigo!</p>
            </li>
        </ul>
    </div>

    <!-- login -->
    <div id="container-login">
        <!-- form -->
        <form>
            <div class="title">
                <ul>
                    <li>
                        <p>Login</p>
                    </li>
                </ul>
            </div>
            <div class="container-form">
                <ul>
                    <li>
                        <p>Email</p>
                    </li>
                </ul>
                <input @bind="login.Email" placeholder="Email" />
            </div>

            <div class="container-form">
                <ul>
                    <li>
                        <p>Senha</p>
                    </li>
                </ul>
                <input type="password" @bind="login.Senha" placeholder="Senha" />
            </div>
        </form>

        <div class="entrar-recuperar">
            <button @onclick="FazerLogin">Entrar</button>
            <a href="#">Recuperar senha</a>
        </div>
    </div>
</main>

@code {
    LoginDTO login = new();

    async Task FazerLogin()
    {
        var result = await AuthService.Login(login);

        if (result)
        {
        }
    }
}
