@page "/Login"
@using PatinhasMagicasPWA.DTOs
@using PatinhasMagicasPWA.Services
@inject AuthService AuthService

<h3>Login</h3>

<input @bind="login.Email" placeholder="Email" />
<input type="password" @bind="login.Senha" placeholder="Senha" />

<button @onclick="FazerLogin">Entrar</button>

@code {
    LoginDTO login = new();

    async Task FazerLogin()
    {
        var result = await AuthService.Login(login);

        if (result)
        {
        }
    }
}
