@page "/MenuInferior"

<nav class="menu-inferior">
    <a href="#" class="menu-item">
        <span class="material-symbols-outlined">home</span>
        <span class="menu-texto">Início</span>
    </a>

    <a href="#" class="menu-item">
        <span class="material-symbols-outlined">shopping_bag</span>
        <span class="menu-texto">Produtos</span>
    </a>

    <a href="#" class="menu-item">
        <span class="material-symbols-outlined">pets</span>
        <span class="menu-texto">Serviços</span>
    </a>

    <a href="#" class="menu-item">
        <span class="material-symbols-outlined">settings</span>
        <span class="menu-texto">Config</span>
    </a>

    <a href="#" class="menu-item">
        <span class="material-symbols-outlined">Person</span>
        <span class="menu-texto">Perfil</span>
    </a>
</nav>