.status--pendente {
    background-color: #fff8e3;
    color: #c76a00;
}

/* Finalizado */
.status--concluido {
    background-color: #ebffdd;
    color: #2f6b08;
}

/* Cancelado */
.status--cancelado {
    background-color: #ffdcdc;
    color: #b42318;
}

/* Técnico */
.status--tecnico {
    background-color: #e8f1fd;
    color: #5e83e9;
}

main {
    min-height: 100vh;
    padding-top: 5em;
    padding-bottom: 4em;
    margin: 0 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;

    .info-bg-service {
        color: var(--clr-text-muted);
        padding: 1em 0;
    }

    .card-service {
        width: 100%;
        box-shadow: var(--shadow-soft);
        display: flex;
        flex-direction: column;
        gap: 1em;
        padding: 1em;
        border-radius: 1em;
        background-color: var(--clr-white);

        .icon-details {
            align-items: center;
            display: flex;
            gap: 1em;

            .icon-service {
                background-color: var(--clr-primary-transparent);
                padding: .3em;
                border-radius: 1em;

                span {
                    color: var(--clr-primary-dark);
                    font-size: var(--fs-title-t);
                }
            }

            .details-service {
                display: flex;
                flex-direction: column;
                width: 100%;

                .status-serviceType {


                    ul {
                        display: flex;
                        justify-content: space-between;


                        li {
                            .type-service-card {
                                color: var(--clr-black-gray);
                                font-size: var(--fs-sub);
                                font-weight: var(--fw-sub);
                                padding: 0.5em 0 !important;
                            }
                        }

                        .status-service {
                            p {
                                padding: 0.5em !important;
                                border-radius: 1em;
                            }
                        }
                    }
                }

                .info-service {
                    li {
                        display: flex;
                        flex-direction: column;
                        gap: 0.5em;


                        p {
                            display: flex;
                            align-items: center;
                            color: var(--clr-text-muted);
                        }
                    }
                }
            }
        }



        .btn-service {
            display: flex;

            button {
                padding: .6em;
                border-radius: 2em;
                border: none;
                background-color: var(--clr-primary-dark);
                color: var(--clr-white);
                width: 100%;
            }
        }
    }
}
