@page "/perfil"

<main>
    <section class="profile-header">
        <div class="avatar"> <img src="./img/hero-pets.jpg" alt=""></div>

        <p>Nome</p>
        <p>name@email.com</p>

    </section>

    <section class="profile-menu">
        <div class="menu-item">
            <button>
                <span class="material-symbols-outlined">person</span>
                Alterar dados do perfil
            </button>
        </div>

        <div class="menu-item">
            <button>
                <span class="material-symbols-outlined">shopping_bag</span>
                Meus pedidos
            </button>
        </div>

        <div class="menu-item">
            <button>
                <span class="material-symbols-outlined">favorite</span>
                Favoritos
            </button>
        </div>

        <div class="menu-item">
            <button>
                <span class="material-symbols-outlined">support_agent</span>
                Suporte
            </button>
        </div>

        <div class="menu-item">
            <button>
                <span class="material-symbols-outlined">settings</span>
                Configurações
            </button>
        </div>
    </section>
</main>

@code {

}
