@page "/produto"
<main>
    <section id="product-section">
        <div class="title-product">
            <ul>
                <li>
                    <p>Nossos Produtos</p>
                    <p>As melhores ofertas para seu pet</p>
                </li>
            </ul>
        </div>




        <div class="card-product-bg">
            <button class="card-product">
                <div class="img-card">
                    <img src="./img/product-accessories.jpg" alt="Ração Patinhas Mágicas" />
                    <p>
                        Acessórios
                    </p>
                </div>
            </button>

            <div class="left">
                <button class="card-product">
                    <div class="img-card">
                        <img src="./img/product-food.jpg" alt="Ração Patinhas Mágicas" />
                        <p>Racão</p>
                    </div>
                </button>

                <button class="card-product">
                    <div class="img-card">
                        <img src="./img/product-toys.jpg" alt="Ração Patinhas Mágicas" />
                        <p>
                            Brinquedos
                        </p>
                    </div>
                </button>
            </div>
        </div>

    </section>

    <section id="banner-product">
        <img src="./img/banner-promocao-pet.jpg" alt="">
    </section>

    <section id="carousel-product">
        <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="./img/product-food.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="./img/product-toys.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="./img/product-hygiene.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>

    <section id="card-product">
        <button class="card" style="width: 18rem;">
            <img src="./img/grooming-dog.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-title">Toalha</p>
                <div class="info-card">
                    <p class="card-text">Em estoque</p>
                    <p class="card-text">R$20,00</p>
                </div>
            </div>
        </button>

        <button class="card" style="width: 18rem;">
            <img src="./img/product-toys.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-title">Toalha</p>
                <div class="info-card">
                    <p class="card-text">Em estoque</p>
                    <p class="card-text">R$20,00</p>
                </div>
            </div>
        </button>

        <button class="card" style="width: 18rem;">
            <img src="./img/product-toys.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-title">Toalha</p>
                <div class="info-card">
                    <p class="card-text">Em estoque</p>
                    <p class="card-text">R$20,00</p>
                </div>
            </div>
        </button>

        <button class="card" style="width: 18rem;">
            <img src="./img/grooming-dog.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-title">Toalha</p>
                <div class="info-card">
                    <p class="card-text">Em estoque</p>
                    <p class="card-text">R$20,00</p>
                </div>

            </div>
        </button>

    </section>
</main>

@code {

}
