@page "/servicoAgendado"

<main>
      <div id="background-service">
      <div class="type-service">
        <div class="status-serviceType">
          <ul>
            <li>
              <p class="type-service-card">Serviço: Banho Simples</p>
            </li>
            <li class="status-service">
                <p  class="status status--finished">Pendente</p>
            </li>
          </ul>
        </div>
        <div class="info-service">
          <ul>
            <li>
              <p>Animal: Rex</p>
              <p>Data: 00/00/0000, 00:00</p>
            </li>
          </ul>
        </div>
        <div class="btn-service">
          <button>Ver detalhes</button>
        </div>
      </div>
    </div>  
    </main>

@code {

}
