@page "/ServicoAgendado"
@inject AgendamentoService AgendamentoService

<main>

    <div class="info-bg-service">
        <ul>
            <li>
                <p>Seus agendamentos e serviços ativos:</p>
            </li>
        </ul>
    </div>

    @foreach (var agendamento in agendamentos)
    {
        <div class="card-service">
            <div class="icon-details">
                <div class="icon-service">
                    <span class="material-symbols-outlined">bathtub</span>
                </div>
                <div class="details-service">
                    <div class="status-serviceType">
                        <ul>
                            <li>
                                <p class="type-service-card">Banho Simples</p>
                            </li>

                            <li class="status-service">
                                <p class="status--pending">Pendente</p>
                            </li>
                        </ul>
                    </div>
                    <div class="info-service">
                        <ul>
                            <li>
                                <p>Animal: Rex</p>
                                <p>
                                    Data: @agendamento.DataAgendamento.ToString("dd/MM/yyyy, HH:mm")
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="btn-service">
                <button>Ver detalhes</button>
            </div>
        </div>


    }

    @*   <div class="card-service">
        <div class="icon-details">
            <div class="icon-service">
                <span class="material-symbols-outlined">bathtub</span>
            </div>
            <div class="details-service">
                <div class="status-serviceType">
                    <ul>
                        <li>
                            <p class="type-service-card">Banho Simples</p>
                        </li>

                        <li class="status-service">
                            <p class="status--pending">Pendente</p>
                        </li>
                    </ul>
                </div>
                <div class="info-service">
                    <ul>
                        <li>
                            <p>Animal: Rex</p>
                            <p>
 
                                Data: 00/00/0000, 00:00
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="btn-service">
            <button>Ver detalhes</button>
        </div>
    </div>

    <div class="card-service">
        <div class="icon-details">
            <div class="icon-service">
                <span class="material-symbols-outlined">neurology</span>
            </div>
            <div class="details-service">
                <div class="status-serviceType">
                    <ul>
                        <li>
                            <p class="type-service-card">Adestramento</p>
                        </li>

                        <li class="status-service">
                            <p class="status--finished">Finalizado</p>
                        </li>
                    </ul>
                </div>
                <div class="info-service">
                    <ul>
                        <li>
                            <p>Animal: Rex</p>
                            <p>
 
                                Data: 00/00/0000, 00:00
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="btn-service">
            <button>Ver detalhes</button>
        </div>
    </div>

    <div class="card-service">
        <div class="icon-details">
            <div class="icon-service">
                <span class="material-symbols-outlined">apartment</span>
            </div>
            <div class="details-service">
                <div class="status-serviceType">
                    <ul>
                        <li>
                            <p class="type-service-card">Creche para Pets</p>
                        </li>

                        <li class="status-service">
                            <p class="status--canceled">Cancelado</p>
                        </li>
                    </ul>
                </div>
                <div class="info-service">
                    <ul>
                        <li>
                            <p>Animal: Rex</p>
                            <p>
 
                                Data: 00/00/0000, 00:00
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="btn-service">
            <button>Ver detalhes</button>
        </div>
    </div> *@

    <MenuInferior />

</main>
@code {
    List<AgendamentoDTO> agendamentos = new();

    protected override async Task OnInitializedAsync()
    {
        agendamentos = await AgendamentoService.GetAll() ?? new List<AgendamentoDTO>();
    }

}
