<div class="navbar-menu-superior"> 
    <div class="container-menu"> 
        <div class="header-page">
            <ul>
                <li>
                    <p>
                        <span class="material-symbols-outlined">arrow_back</span>
                    </p>
                </li>
            </ul>
        </div>
        <img src="./img/bg-auth-logo.png" alt="Patinhas Mágicas" class="logo" /> 
    </div> 
</div>


@code {

}
